@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="wangengzheng"/>
    <title>报表查询</title>
    <link rel="shortcut icon" href="~/Source/V1/images/favicon.png" />
    <link href="~/Source/V1/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/V1/css/Site.css" rel="stylesheet" />
    <link href="~/Source/V1/themes/icon.css" rel="stylesheet" type="text/css" />
    <script src="~/Source/V1/scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Source/V1/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script src="~/Source/V1/scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Source/V1/scripts/G_Index.js"></script>
</head>
<body style="overflow: scroll;margin:0px 10px 5px 10px">
    <div>
        <div style="padding-top: 15px;">
            <p>
                <span></span>
            </p>
        </div>
        <div id="SQLSearch">
            <form action="/Home/Index" method="post" id="SQLSearchForm">
                <textarea name="sqlValue" class="easyui-textbox" data-options="multiline:true, prompt: '输入查询的 SQL 语句, Ctrl + Enter 进行搜索 ！',icons:[{
                iconCls:'icon-search'@*,
                handler: function(e){
                   var v= $(e.data.target).textbox('getValue');
                   submitForm(v);
                }*@
            }]" style="width:100%;height:100px;white-space: pre-wrap;">@ViewBag.SqlValue</textarea>
                @Html.AntiForgeryToken()
            </form>
        </div>
        <div id="toolbar" style="float: right;display:none;">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:'true'" onclick="save()">导出</a>
        </div>
        <p style="clear:both;"></p>
        <table id="datagirdview" class="easyui-datagrid" title="数据显示" style="width:auto;height:660px;" data-options="singleSelect:true,method:'post',fitColumns:'true',pageNumber:1,pageSize:20,pageList:[10,20,30,40,50],rownumbers:'true',pagination:'true',autoRowHeight:'false',sortName:'@ViewBag.排序字段',sortOrder:'@ViewBag.排序方式',remoteSort:'true'">
            <thead>
                <tr>
                    @if (ViewBag.ColumnName != null)
                    {
                        string[] columns = (string[])(ViewBag.ColumnName);
                        foreach (string column in columns)
                        {
                    <th data-options="field:'@column',width:80" sortable="true" sortname="@column">
                        @column
                </th>
                        }
                    }
                </tr>
            </thead>
        </table>
        <p>
        </p>
    </div>
</body>
</html>
